* {
    padding: 0;
    margin: 0;
}
#um1 {
    margin-left: 10%;
 }
  #um {
    margin-left: 10%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 30%;
    height: 6%;
  
 }
#dois2 {
    margin-left: 10%;
}
 #dois {
    margin-left: 10%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 30%;
    height: 6%;
}
h1 {
    margin-left: 40%;
}
h2 {
    margin-left: 10%;
}
h3 {
    padding-top: 2%;
    margin-left: 10%;
}
img {
    margin-left: 42%;

}
#botam {
    margin-left: 10%;
    height: 30px;
    width: 20%;
    background-color: rgb(73, 73, 196);
    color: white;
    border-style: none; 
    margin-top: 20px;
}
